@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Source Sans 3', sans-serif;
  font-size: 17.28px;
}
.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line-heigth-1{
  line-height:120%;
}